{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-5">
        <h2>Añadir Entradas</h2>
        {{ form_start(form,{'enctype':'multipart/form-data'}) }}
        {{ form_end(form) }}
    </div>
    <div class="clear-fix"></div>

{% endblock %}
