<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Layout!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        .container{
            border: 1px solid black;
            width: 85%;
            height: 300px;
            background: #eeeeee;
        }
    </style>
</head>
<body>
<div class="container">
    {% block container %}
        contenido por defecto.......
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
