{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}


{% endblock %}
